.user-img{
    border-radius: 50%;
    overflow: hidden;
    /* width: 20%; */
    border: 1px solid grey;
    background-position: center;
    background-size: cover;
    margin: 2%;
}

.card .user-img{
    width: 100px;
    height: 100px;
}

.review-card{
    margin: 0;
    margin-right: 10%;
    margin-top: 4vh;
}

.checked{
    color: orange;
}